PolePosition/Library/
PolePosition/Temp/
PolePosition/Library/metadata/7f/7fa630332bce54346aa1127d7f78a8bf.info

PolePosition/Library/assetDatabase3

PolePosition/Library/shadercompiler-UnityShaderCompiler0.log
